@import "tailwindcss";

body {
  margin: 0;
  overflow-x: hidden;
}

app-main,
home-page,
home-layout,
site-nav,
nav-logo,
site-hero,
site-banner,
site-services,
site-clients,
site-about,
accordion-item,
site-footer {
  display: block;
}